.text-block{
	border: 1px solid var(--violet-color);
	padding: 15px;
	position: relative;
	font-size: 20px;
	margin-bottom: 30px;
	label{
		font-size: 20px;
		font-weight: 700;
		position: absolute;
		left: 20px;
		top: -15px;
		height: 30px;
		padding: 5px;
		margin: 0;
		border: 1px solid var(--violet-color);
		background-color: var(--white-color);
		line-height: 10px;
		text-align: center;
	}
	p{
		margin: 0;
	}
}