.person{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #121212;
	gap: 9px;
	font-weight: 600;
	margin: 0;
	.person-name{
		margin: 0;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		color: #121212;
		cursor: pointer;
	}
}

.login-bock{
	display: flex;
	gap: 30px;
	@media screen and (max-width: 991px){
		flex-direction: column;
		gap: 10px;
	}
}